In [10]:
import pandas as pd
from datetime import datetime
import numpy as np
import time

In [4]:
btcData = pd.read_csv("btcAllData-inclusiveDate.csv")
btcData.head()

,time,open_x,high_x,low_x,close_x,SMA20_x,SMA50_x,SMA100_x,SMA2000_x,Regression Line_x,...,btc totalblocksize,btc difficulty,btc hashrate,btc totalvolume,btc totalvolume usd,date,year,month,dayInMonth,weekday
0,1.333498e+09,4.92,5.01,4.86,5.01,4.9310,4.8948,5.4069,4.98145,4.722802,...,3.125915e+06,6.850121e+15,1.103624e+13,755324.984851,3.653680e+06,2012-04-04 02:00:00,2012,4,4,2
1,1.333584e+09,4.99,5.04,4.89,5.00,4.9180,4.9010,5.4140,4.94800,4.684430,...,3.194068e+06,6.874825e+15,1.076260e+13,788454.374452,3.824057e+06,2012-04-05 02:00:00,2012,4,5,3
2,1.333670e+09,4.90,4.99,4.81,4.99,4.8965,4.9106,5.4209,4.91445,4.645442,...,3.242125e+06,6.895038e+15,1.073542e+13,751491.165878,3.653172e+06,2012-04-06 02:00:00,2012,4,6,4
3,1.333757e+09,4.94,4.94,4.70,4.70,4.8690,4.9112,5.4229,4.87945,4.598616,...,3.148801e+06,6.911575e+15,1.070883e+13,676858.421780,3.287368e+06,2012-04-07 02:00:00,2012,4,7,5
4,1.333843e+09,4.80,4.80,4.69,4.76,4.8655,4.9218,5.4284,4.84475,4.548236,...,3.065169e+06,6.925106e+15,1.091852e+13,782094.451754,3.768388e+06,2012-04-08 02:00:00,2012,4,8,6

### bitcoin halving dates

-  Nov. 28, 2012 (ab da 25)
- July 9, 2016 (ab da 12.5)
- May 11, 2020 (ab da 6.25)
- 02.04.2024 irgendwann (ab da 3.125)

In [29]:
first = "28/11/2012"
second = "09/07/2016"
third = "11/05/2020"
fourth = "02/04/2024"
firstTimestamp =time.mktime(datetime.strptime(first, "%d/%m/%Y").timetuple())
secondTimestamp = time.mktime(datetime.strptime(second, "%d/%m/%Y").timetuple())
thirdTimestamp = time.mktime(datetime.strptime(third, "%d/%m/%Y").timetuple())
fourthTimestamp = time.mktime(datetime.strptime(fourth, "%d/%m/%Y").timetuple())
halvingdates = [firstTimestamp, secondTimestamp, thirdTimestamp, fourthTimestamp]
halvingdates

[1354057200.0, 1468015200.0, 1589148000.0, 1712008800.0]

In [39]:
def calculateTimeToNextHalving(timestamp, halvingdates):
    for i in halvingdates:
        if i >= timestamp:
            return int((i - timestamp)/ (24*60*60))
    return None

In [40]:
btcData["timeToNextHalving"] = [calculateTimeToNextHalving(x,halvingdates) for x in btcData["time"]]
btcData.head()

,time,open_x,high_x,low_x,close_x,SMA20_x,SMA50_x,SMA100_x,SMA2000_x,Regression Line_x,...,btc difficulty,btc hashrate,btc totalvolume,btc totalvolume usd,date,year,month,dayInMonth,weekday,timeToNextHalving
0,1.333498e+09,4.92,5.01,4.86,5.01,4.9310,4.8948,5.4069,4.98145,4.722802,...,6.850121e+15,1.103624e+13,755324.984851,3.653680e+06,2012-04-04 02:00:00,2012,4,4,2,237
1,1.333584e+09,4.99,5.04,4.89,5.00,4.9180,4.9010,5.4140,4.94800,4.684430,...,6.874825e+15,1.076260e+13,788454.374452,3.824057e+06,2012-04-05 02:00:00,2012,4,5,3,236
2,1.333670e+09,4.90,4.99,4.81,4.99,4.8965,4.9106,5.4209,4.91445,4.645442,...,6.895038e+15,1.073542e+13,751491.165878,3.653172e+06,2012-04-06 02:00:00,2012,4,6,4,235
3,1.333757e+09,4.94,4.94,4.70,4.70,4.8690,4.9112,5.4229,4.87945,4.598616,...,6.911575e+15,1.070883e+13,676858.421780,3.287368e+06,2012-04-07 02:00:00,2012,4,7,5,234
4,1.333843e+09,4.80,4.80,4.69,4.76,4.8655,4.9218,5.4284,4.84475,4.548236,...,6.925106e+15,1.091852e+13,782094.451754,3.768388e+06,2012-04-08 02:00:00,2012,4,8,6,233

In [38]:
btcData.to_csv('btcAllData-inclusiveDate-inclusiveHalving.csv',index=False)